name: Checks

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 0
     # keep "warnings as errors" but don't fail on dead_code
      RUSTFLAGS: "-D warnings -A dead_code"

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          cache: true

      - name: Build tests (no run)
        run: cargo test --locked --all-targets --no-run

      - name: Run tests
        run: cargo test --locked --all-targets

